<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Client Reviews</a></li>
  <li role="presentation"><a href="#">Private Instruction</a></li>
  <li role="presentation"><a href="#">Archive</a></li>
  <li role="presentation"><a href="#">Contact</a></li>
</ul>
  <div class="container-fluid">
  <div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
          <div class="container">
            <div class="jumbotron">
              <div class="blog-title">
                <h1> Eudaimonia </h1>
                <ul>
                  <li>Katie Fuller, L.M.T</li>
                  <li>Oregon License # 20344</li>
                  <li>Therapeutic Massage</li>
                  <li>Traditional Thai Bodywork</li>
                  <li>Yoga</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">
          <div class="container">
            <div class="jumbotron">
              <div class="what">
                  <h1> Eu-Da-What? </h1>
                  <h2>  The word “eudaimonia” comes from ancient Greek and has been translated as health, prosperity, and well-being. By far, my favorite definition is “human flourishing.” Additionally, pro-social people are said to have a “eudemonic” outlook on life when we find happiness in helping others and building community.
                  </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
        </div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="title"></div>
      </div>
    </div>
    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">
        </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
            <div class="container">
            <div class="jumbotron">
              <div class="services">
                <h1>Eudaimonia offers anatomy-informed, compassion-driven bodywork including: </h1>
                  <p>Myofascial Release
                  Neuromuscular Therapy
                  Sports Massage
                  Prenatal Massage
                  Massage Cupping
                  Aromatherapy  (dōTERRA)
                  and Traditional Thai Massage.
                  My aspiration is a holistic approach, wherein a therapeutic session is allowed to be relaxing, and a relaxation massage is ultimately therapeutic. Within a session, we’ll work on calming the central nervous system and releasing, physically-held, tension from the body before shifting the therapeutic focus to problem areas.</p>
                  </p>COMING FALL 2016: Ashiatsu Oriental Bar Therapy!</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
        </div>
      </div>
    </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
    </div>
  </div>
</div>
